<div class="container">
    <h1 class=""><i class="far fa-address-card"></i> Categorias</h1>
</div>

<form class="form-group  mb-4">
    <div class="row col-md">
        <div class="col-sm-10">
            <label for="inputPassword" class="col-sm-2 col-form-label">Categoria</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Digite a nova categoria">
        </div>
    </div>
    <div class="row col-md">
        <div class="col-sm-10">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="col-sm-10 mt-3">
        <button type="submit" class="btn btn-outline-success"><i class="far fa-edit"></i> Salvar</button>
    </div>
    
  </form>